<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <log4net>
    <appender name="PROGRAM_Appender" type="log4net.Appender.RollingFileAppender">
      <file value="D:\CIM_SCS\LOG\PROGRAM\"/>
	  <encoding value="utf-8" />
      <appendToFile value="true"/>
      <datePattern value="yyyyMMdd_HH'.log'"/>
      <rollingStyle value="Composite"/>
      <maxSizeRollBackups value="20"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="false"/>
      <!--<ImmediateFlush value="false" />-->
      <layout type="log4net.Layout.PatternLayout">
        <ConversionPattern value="%d{yyyy-MM-dd HH:mm:ss.fff} %-5level - %message%newline"/>
      </layout>
    </appender>

    <appender name="TR_Appender" type="log4net.Appender.RollingFileAppender">
      <file value="D:\CIM_SCS\LOG\TR\"/>
	  <encoding value="utf-8" />
      <appendToFile value="true"/>
      <datePattern value="yyyyMMdd_HH'.log'"/>
      <rollingStyle value="Composite"/>
      <maxSizeRollBackups value="20"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="false"/>
      <!--<ImmediateFlush value="false" />-->
      <layout type="log4net.Layout.PatternLayout">
        <ConversionPattern value="%d{yyyy-MM-dd HH:mm:ss.fff} %-5level - %message%newline"/>
      </layout>
    </appender>

    <appender name="AXIS_Appender" type="log4net.Appender.RollingFileAppender">
      <file value="D:\CIM_SCS\LOG\AXIS\"/>
	  <encoding value="utf-8" />
      <appendToFile value="true"/>
      <datePattern value="yyyyMMdd_HH'.log'"/>
      <rollingStyle value="Composite"/>
      <maxSizeRollBackups value="20"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="false"/>
      <!--<ImmediateFlush value="false" />-->
      <layout type="log4net.Layout.PatternLayout">
        <ConversionPattern value="%d{yyyy-MM-dd HH:mm:ss.fff} %-5level - %message%newline"/>
      </layout>
    </appender>

    <appender name="PIO_Appender" type="log4net.Appender.RollingFileAppender">
      <file value="D:\CIM_SCS\LOG\PIO\"/>
	  <encoding value="utf-8" />
      <appendToFile value="true"/>
      <datePattern value="yyyyMMdd_HH'.log'"/>
      <rollingStyle value="Composite"/>
      <maxSizeRollBackups value="20"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="false"/>
      <!--<ImmediateFlush value="false" />-->
      <layout type="log4net.Layout.PatternLayout">
        <ConversionPattern value="%d{yyyy-MM-dd HH:mm:ss.fff} %-5level - %message%newline"/>
      </layout>
    </appender>

    <appender name="CS_Appender" type="log4net.Appender.RollingFileAppender">
      <file value="D:\CIM_SCS\LOG\CS\"/>
      <encoding value="utf-8" />
      <appendToFile value="true"/>
      <datePattern value="yyyyMMdd_HH'.log'"/>
      <rollingStyle value="Composite"/>
      <maxSizeRollBackups value="20"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="false"/>
      <!--<ImmediateFlush value="false" />-->
      <layout type="log4net.Layout.PatternLayout">
        <ConversionPattern value="%d{yyyy-MM-dd HH:mm:ss.fff} %-5level - %message%newline"/>
      </layout>
    </appender>

    <appender name="LCS_Appender" type="log4net.Appender.RollingFileAppender">
      <file value="D:\CIM_SCS\LOG\LCS\"/>
      <encoding value="utf-8" />
      <appendToFile value="true"/>
      <datePattern value="yyyyMMdd_HH'.log'"/>
      <rollingStyle value="Composite"/>
      <maxSizeRollBackups value="20"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="false"/>
      <!--<ImmediateFlush value="false" />-->
      <layout type="log4net.Layout.PatternLayout">
        <ConversionPattern value="%d{yyyy-MM-dd HH:mm:ss.fff} %-5level - %message%newline"/>
      </layout>
    </appender>

    <appender name="SYS_Appender" type="log4net.Appender.RollingFileAppender">
      <file value="D:\CIM_SCS\LOG\SYS\"/>
      <encoding value="utf-8" />
      <appendToFile value="true"/>
      <datePattern value="yyyyMMdd_HH'.log'"/>
      <rollingStyle value="Composite"/>
      <maxSizeRollBackups value="20"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="false"/>
      <!--<ImmediateFlush value="false" />-->
      <layout type="log4net.Layout.PatternLayout">
        <ConversionPattern value="%d{yyyy-MM-dd HH:mm:ss.fff} %-5level - %message%newline"/>
      </layout>
    </appender>

    <appender name="RM1_Appender" type="log4net.Appender.RollingFileAppender">
      <file value="D:\CIM_SCS\LOG\RM1\"/>
      <encoding value="utf-8" />
      <appendToFile value="true"/>
      <datePattern value="yyyyMMdd_HH'.log'"/>
      <rollingStyle value="Composite"/>
      <maxSizeRollBackups value="20"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="false"/>
      <!--<ImmediateFlush value="false" />-->
      <layout type="log4net.Layout.PatternLayout">
        <ConversionPattern value="%d{yyyy-MM-dd HH:mm:ss.fff} %-5level - %message%newline"/>
      </layout>
    </appender>

    <appender name="RM2_Appender" type="log4net.Appender.RollingFileAppender">
      <file value="D:\CIM_SCS\LOG\RM2\"/>
	  <encoding value="utf-8" />
      <appendToFile value="true"/>
      <datePattern value="yyyyMMdd_HH'.log'"/>
      <rollingStyle value="Composite"/>
      <maxSizeRollBackups value="20"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="false"/>
      <!--<ImmediateFlush value="false" />-->
      <layout type="log4net.Layout.PatternLayout">
        <ConversionPattern value="%d{yyyy-MM-dd HH:mm:ss.fff} %-5level - %message%newline"/>
      </layout>
    </appender>


    <appender name="WPS_Appender" type="log4net.Appender.RollingFileAppender">
      <file value="D:\CIM_SCS\LOG\WPS\"/>
	  <encoding value="utf-8" />
      <appendToFile value="true"/>
      <datePattern value="yyyyMMdd_HH'.log'"/>
      <rollingStyle value="Composite"/>
      <maxSizeRollBackups value="20"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="false"/>
      <!--<ImmediateFlush value="false" />-->
      <layout type="log4net.Layout.PatternLayout">
        <ConversionPattern value="%d{yyyy-MM-dd HH:mm:ss.fff} %-5level - %message%newline"/>
      </layout>
    </appender>

    <appender name="Port_Appender" type="log4net.Appender.RollingFileAppender">
      <file value="D:\CIM_SCS\LOG\Port\"/>
	  <encoding value="utf-8" />
      <appendToFile value="true"/>
      <datePattern value="yyyyMMdd_HH'.log'"/>
      <rollingStyle value="Composite"/>
      <maxSizeRollBackups value="20"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="false"/>
      <!--<ImmediateFlush value="false" />-->
      <layout type="log4net.Layout.PatternLayout">
        <ConversionPattern value="%d{yyyy-MM-dd HH:mm:ss.fff} %-5level - %message%newline"/>
      </layout>
    </appender>

	  <appender name="FIRE_Appender" type="log4net.Appender.RollingFileAppender">
		  <file value="D:\CIM_SCS\LOG\Fire\"/>
		  <encoding value="utf-8" />
		  <appendToFile value="true"/>
		  <datePattern value="yyyyMMdd_HH'.log'"/>
		  <rollingStyle value="Composite"/>
		  <maxSizeRollBackups value="20"/>
		  <maximumFileSize value="10MB"/>
		  <staticLogFileName value="false"/>
		  <!--<ImmediateFlush value="false" />-->
		  <layout type="log4net.Layout.PatternLayout">
			  <ConversionPattern value="%d{yyyy-MM-dd HH:mm:ss.fff} %-5level - %message%newline"/>
		  </layout>
	  </appender>

	<appender name="DB_Appender" type="log4net.Appender.RollingFileAppender">
		<file value="D:\CIM_SCS\LOG\OracleDB\"/>
		<encoding value="utf-8" />
		<appendToFile value="true"/>
		<datePattern value="yyyyMMdd_HH'.log'"/>
		<rollingStyle value="Composite"/>
		<maxSizeRollBackups value="20"/>
		<maximumFileSize value="10MB"/>
		<staticLogFileName value="false"/>
		<!--<ImmediateFlush value="false" />-->
		<layout type="log4net.Layout.PatternLayout">
			<ConversionPattern value="%d{yyyy-MM-dd HH:mm:ss.fff} %-5level - %message%newline"/>
		</layout>
	</appender>

	  <!--//220608 HHJ SCS 개선		//- MCProtocol, MXComponent 추가-->
	  <appender name="PLC_Appender" type="log4net.Appender.RollingFileAppender">
		  <file value="D:\CIM_SCS\LOG\PLC\"/>
		  <encoding value="utf-8" />
		  <appendToFile value="true"/>
		  <datePattern value="yyyyMMdd_HH'.log'"/>
		  <rollingStyle value="Composite"/>
		  <maxSizeRollBackups value="20"/>
		  <maximumFileSize value="10MB"/>
		  <staticLogFileName value="false"/>
		  <!--<ImmediateFlush value="false" />-->
		  <layout type="log4net.Layout.PatternLayout">
			  <ConversionPattern value="%d{yyyy-MM-dd HH:mm:ss.fff} %-5level - %message%newline"/>
		  </layout>
	  </appender>

	  <appender name="BCR_Appender" type="log4net.Appender.RollingFileAppender">
		  <file value="D:\CIM_SCS\LOG\BCR\"/>
		  <encoding value="utf-8" />
		  <appendToFile value="true"/>
		  <datePattern value="yyyyMMdd_HH'.log'"/>
		  <rollingStyle value="Composite"/>
		  <maxSizeRollBackups value="20"/>
		  <maximumFileSize value="10MB"/>
		  <staticLogFileName value="false"/>
		  <!--<ImmediateFlush value="false" />-->
		  <layout type="log4net.Layout.PatternLayout">
			  <ConversionPattern value="%d{yyyy-MM-dd HH:mm:ss.fff} %-5level - %message%newline"/>
		  </layout>
	  </appender>

	  <appender name="Inform_Appender" type="log4net.Appender.RollingFileAppender">
		  <file value="D:\CIM_SCS\LOG\Inform\"/>
		  <encoding value="utf-8" />
		  <appendToFile value="true"/>
		  <datePattern value="yyyyMMdd_HH'.log'"/>
		  <rollingStyle value="Composite"/>
		  <maxSizeRollBackups value="20"/>
		  <maximumFileSize value="10MB"/>
		  <staticLogFileName value="false"/>
		  <!--<ImmediateFlush value="false" />-->
		  <layout type="log4net.Layout.PatternLayout">
			  <ConversionPattern value="%d{yyyy-MM-dd HH:mm:ss.fff} %-5level - %message%newline"/>
		  </layout>
	  </appender>

	  <appender name="Operator_Appender" type="log4net.Appender.RollingFileAppender">
		  <file value="D:\CIM_SCS\LOG\Operator\"/>
		  <encoding value="utf-8" />
		  <appendToFile value="true"/>
		  <datePattern value="yyyyMMdd_HH'.log'"/>
		  <rollingStyle value="Composite"/>
		  <maxSizeRollBackups value="20"/>
		  <maximumFileSize value="10MB"/>
		  <staticLogFileName value="false"/>
		  <!--<ImmediateFlush value="false" />-->
		  <layout type="log4net.Layout.PatternLayout">
			  <ConversionPattern value="%d{yyyy-MM-dd HH:mm:ss.fff} %-5level - %message%newline"/>
		  </layout>
	  </appender>

	  <logger name="PLC_Logger">
		  <level value="ALL"/>
		  <appender-ref ref="PLC_Appender"/>
	  </logger>
	  
	  <logger name="PROGRAM_Logger">
      <level value="ALL"/>
      <appender-ref ref="PROGRAM_Appender"/>
    </logger>

    <logger name="TR_Logger">
      <level value="ALL"/>
      <appender-ref ref="TR_Appender"/>
    </logger>

    <logger name="AXIS_Logger">
      <level value="ALL"/>
      <appender-ref ref="AXIS_Appender"/>
    </logger>

    <logger name="PIO_Logger">
      <level value="ALL"/>
      <appender-ref ref="PIO_Appender"/>
    </logger>

    <logger name="CS_Logger">
      <level value="ALL"/>
      <appender-ref ref="CS_Appender"/>
    </logger>

    <logger name="LCS_Logger">
      <level value="ALL"/>
      <appender-ref ref="LCS_Appender"/>
    </logger>

    <logger name="SYS_Logger">
      <level value="ALL"/>
      <appender-ref ref="SYS_Appender"/>
    </logger>

    <logger name="RM1_LogLogger">
      <level value="ALL"/>
      <appender-ref ref="RM1_Appender"/>
    </logger>

    <logger name="RM2_LogLogger">
      <level value="ALL"/>
      <appender-ref ref="RM2_Appender"/>
    </logger>


    <logger name="WPS_Logger">
      <level value="ALL"/>
      <appender-ref ref="WPS_Appender"/>
    </logger>
    
    <logger name="Port_Logger">
      <level value="ALL"/>
      <appender-ref ref="Port_Appender"/>
    </logger>

	<logger name="DB_Logger">
		<level value="ALL"/>
		<appender-ref ref="DB_Appender"/>
	</logger>
	  
	  
	<logger name="FIRE_Logger">
		  <level value="ALL"/>
		  <appender-ref ref="FIRE_Appender"/>
    </logger>

	  <logger name="BCR_Logger">
		  <level value="ALL"/>
		  <appender-ref ref="BCR_Appender"/>
	  </logger>

	  <logger name="Inform_Logger">
		  <level value="ALL"/>
		  <appender-ref ref="Inform_Appender"/>
	  </logger>

	  <logger name="Operator_Logger">
		  <level value="ALL"/>
		  <appender-ref ref="Operator_Appender"/>
	  </logger>

  </log4net>

</configuration>