<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="OpenHSMS" type="OSG.Com.HSMS.Configuration.OpenHSMSConfigSection, OSG.Com.HSMS"/>
	</configSections>

	<!-- 추가된 설정 부분 시뮬레이터 설정 시 General 탭의 일부 설정 내용-->
	<General ConfigID="HSMS" Type="Host" ProtocolType="HSMS" LogBackup="30 Days">
	</General>
	<!-- 추가된 설정 부분 시뮬레이터 설정 시 General 탭의 일부 설정 내용-->

	<OpenHSMS hsmsID="1" deviceID="1" connectMode="Passive" remoteIP="127.0.0.1" remotePort="8000"   localIP="127.0.0.1" localPort="7000"
			  T3Timeout="15" T5Timeout="10" T6Timeout="5" T7Timeout="10" T8Timeout="5" linkTest="120" schemaFile="OpenHSMS_Schema.xml"
			  LogPath="D:\CIM_SCS\LOG\OpenHSMS" LogKeepDay="30" IsHourLog="true">
	</OpenHSMS>
	<!--<OpenHSMS hsmsID="1" deviceID="1" connectMode="Passive" remoteIP="127.0.0.1" remotePort="8000"   localIP="127.0.0.1" localPort="7000"
			  T3Timeout="15" T5Timeout="10" T6Timeout="5" T7Timeout="10" T8Timeout="5" linkTest="120" schemaFile="OpenHSMS_Schema.xml"
			  LogPath="D:\Log\OpenHSMS" LogKeepDay="30" IsHourLog="true">
	</OpenHSMS>-->

	<!-- 추가된 설정 부분 시뮬레이터 설정 시 SECS-I 탭의 일부 설정 내용-->
	<SECSI T1Timeout="2" T2Timeout="10" T3Timeout="45" T4Timeout="45" SerialPort="COM1" BaudRate="Auto" RetryCount="3" Master="true">
	</SECSI>
	<!-- 추가된 설정 부분 시뮬레이터 설정 시 SECS-I 탭의 일부 설정 내용-->

	<!-- OpenHSMS Log Setting
  - enabled : Log 기록 여부를 설정함. false인 경우 log를 남기지 않음
  - logFolder : Log 기록 폴더 설정함.
  - driverLogMode, secs1LogMode, secs2LogMode : Driver Log, SECS1 Log, SECS2 Log의 기록 모드를 설정함.
        None - Log 기록 안함, Hour - 시간 단위 로그 파일 생성, Day - 일 단위 로그 파일 생성, 
        Week - 주 단위 로그 파일 생성, Month - 월 단위로 로그파일 생성
  -->

    
</configuration>