<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<configSections>
		<section name="Plcs" type="PLCCommunications.ConfigDataClass.PLCSection, PLCCommunications"/>
	</configSections>

	<Plcs>
		<PLC Num="0" LogicalStationNum="40" BitDeviceType="D" WordDeviceType="D">
			<BaseAddresses BasePlcLB="0" BasePlcLW="100" BasePcLB="45" BasePcLW="4500"/>
			<DataSize PLCBitSize="45" PLCWordSize="4400" PCBitSize="45" PCWordSize="4400"/>
		</PLC>
	</Plcs>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
